@import "tailwindcss";

@theme {
  --color-primary: #e6734c;
  --color-background-light: #f8f6f6;
  --color-background-dark: #211511;
  --font-display: "Noto Serif", serif;
  --font-sans: "Noto Sans", sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
